<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.phmb2.nuo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="ANDROID.PERMISSION.WAKE_LOCK"/>

    <application
        android:name=".extras.NuoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/nuo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activities.SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.MainActivity"
            android:label= "@string/titulo_principal_foto"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activities.AdicionarFotoActivity"
            android:configChanges="screenLayout|orientation"
            android:screenOrientation="portrait"
            android:label="@string/titulo_adicionar_foto">
        </activity>

        <activity android:name=".activities.DetalhesFotoActivity"
            android:configChanges="screenLayout|orientation"
            android:screenOrientation="portrait"
            android:label= "@string/titulo_detalhes_foto">
        </activity>

        <activity
            android:name=".activities.EditarFotoActivity"
            android:configChanges="screenLayout|orientation"
            android:screenOrientation="portrait">
        </activity>

        <receiver
            android:name=".broadcastReceivers.Notificacao"
            android:process=":remote" >
        </receiver>

        <receiver
            android:name=".broadcastReceivers.Boot"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" >
                </action>
            </intent-filter>
        </receiver>

    </application>

</manifest>